<div class="w-full max-w-3xl mx-auto ">
  <div>
    <%= image_tag "https://fakeimg.pl/250x100", class:"w-full"%>
    <div class="w-24 overflow-hidden rounded-full ">
      <% if current_user.avatar_url %>
        <%= image_tag current_user.avatar_url%>
      <% else %>
        <%= image_tag "https://fakeimg.pl/250x250"%>
      <% end %>
    </div>
  </div>
  <div>
    <h3 class="my-4"><%= current_user.full_name%></h3>
  </div>
</div>