<div class="flex items-center justify-between">
  <%= image_tag "https://fakeimg.pl/100x100", class:"w-12"%>
  <div class="p-1 ">
    <span class="block w-8 h-1 my-2 bg-white rounded-md "></span>
    <span class="block w-8 h-1 my-2 bg-white rounded-md "></span>
  </div>
</div>