<div data-controller="navbar" >
  <div class="flex items-center justify-between p-4 text-center bg-black md:grid md:grid-cols-3">
    <div class="items-center hidden grid-cols-3 md:grid">
      <p >Cocktails</p>
      <p >Articles</p>
      <p >Jobs</p>
    </div>
    <div class="flex items-center justify-center gap-2">
      <%= image_tag "icons/logo.png", class:"h-12"%>
      <p>DASHOOL</p>
    </div>
    <div class="items-center hidden grid-cols-5 md:grid">
      <input type="search" class="col-span-3 ">
      <p >Log In</p>
      <p >Sign Up</p>
    </div>
    <div data-action="click->navbar#showMenu" class="flex flex-col gap-1 cursor-pointer md:hidden">
      <div class="w-6 h-0.5 bg-white rounded-md"></div>
      <div class="w-6 h-0.5 bg-white rounded-md"></div>
      <div class="w-6 h-0.5 bg-white rounded-md"></div>
    </div>
  </div>
  <ul data-navbar-target="menu" class="h-0 overflow-hidden text-center transition-all duration-300 ease-in-out bg-black">
    <li class="my-4 text-xl">Cocktails</li>
    <li class="my-4 text-xl">Articles</li>
    <li class="my-4 text-xl">Jobs</li>
    <li class="my-4 text-xl">Log In</li>
    <li class="my-4 text-xl">Sign Up</li>
  </ul>
</div>